# Automatic EDA using `ydata_profiling`

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import ydata_profiling as yd

In [5]:
# import data from seaborn
df=sns.load_dataset('titanic')

In [6]:
profile =yd.ProfileReport(df)

In [8]:
profile.to_file(output_file='ydata_titanic.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Summarize dataset: 100%|██████████| 41/41 [00:07<00:00,  5.60it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:09<00:00,  9.90s/it]
Render HTML: 100%|██████████| 1/1 [00:03<00:00,  3.08s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 26.45it/s]

In [10]:
# to create html in output folder
profile.to_file(output_file='./outputs/03_ydata_titanic.html')

Export report to file: 100%|██████████| 1/1 [00:00<00:00, 43.47it/s]

In [13]:
df_coun =pd.read_csv("./data/data.counties.final.xls")
df_coun

,county,state,fips,population,density,cases,CountyStartDate,days,Growth.rate,Growth.rate.reg,Doubling.time,tests,testing.rate
0,Baldwin,Alabama,1003,218022,130.90,38,2020-03-14,23,1.171349,1.176211,4.382682,0,0
1,Calhoun,Alabama,1015,114277,189.97,38,2020-03-18,19,1.211007,1.200322,3.620477,0,0
2,Chambers,Alabama,1017,33615,56.70,96,2020-03-19,18,1.288624,1.306786,2.733501,0,0
3,Cullman,Alabama,1043,83442,112.01,20,2020-03-20,17,1.192700,1.195696,3.933430,0,0
4,Elmore,Alabama,1051,81887,131.31,20,2020-03-13,24,1.132947,1.144516,5.553077,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199,Natrona,Wyoming,56025,79115,15.09,26,2020-03-20,17,1.211250,1.224364,3.616683,0,0
1200,Park,Wyoming,56029,29324,4.19,1,2020-03-17,20,0.000000,0.000000,inf,0,0
1201,Sheridan,Wyoming,56033,30233,11.89,12,2020-03-11,26,1.100290,1.106801,7.252517,0,0
1202,Teton,Wyoming,56039,23081,5.77,40,2020-03-18,19,1.214280,1.229257,3.570135,0,0
1203,Washakie,Wyoming,56043,7885,3.63,4,2020-04-06,10,1.148698,1.134771,0.603420,0,0

In [14]:
#create profiling for datset 
profile =yd.ProfileReport(df_coun)
profile.to_file(output_file='./outputs/04_data_counties.html')

Summarize dataset:  33%|███▎      | 6/18 [00:00<00:00, 31.08it/s, Describe variable:CountyStartDate]c:\Users\Owner\anaconda3\envs\ydata_profiling\lib\site-packages\numpy\_core\_methods.py:185: RuntimeWarning: invalid value encountered in subtract
  x = asanyarray(arr - arrmean)
Summarize dataset:  39%|███▉      | 7/18 [00:00<00:00, 31.08it/s, Describe variable:Growth.rate]    c:\Users\Owner\anaconda3\envs\ydata_profiling\lib\site-packages\pandas\core\nanops.py:1344: RuntimeWarning: invalid value encountered in subtract
  adjusted = values - mean
c:\Users\Owner\anaconda3\envs\ydata_profiling\lib\site-packages\pandas\core\nanops.py:1256: RuntimeWarning: invalid value encountered in subtract
  adjusted = values - mean
Summarize dataset:  75%|███████▌  | 15/20 [00:00<00:00, 31.08it/s, Calculate auto correlation]      c:\Users\Owner\anaconda3\envs\ydata_profiling\lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'cannot specify integer `bins` when input data contains infinity')
  warnings.warn(
Summarize dataset: 100%|██████████| 86/86 [00:14<00:00,  6.06it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:07<00:00,  7.95s/it]
Render HTML: 100%|██████████| 1/1 [00:03<00:00,  3.73s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 33.30it/s]